/* CharacterCreation.module.css */
.selectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    max-width: 800px;
    margin: 0 auto;
}

.tabList {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tabListItem {
    padding: 10px 20px;
    background-color: #000000;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    transition: background-color 0.3s ease;

    font-size: 20px;
}

.tabListItem:hover {
    background-color: #696969;
}

.tabListItem:focus {
    outline: none;
}

.tabPanel {
    padding: 20px;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 0 0 8px 8px;
    text-align: center;
}

.tabPanel p {
    font-size: 20px;
    text-align: center;
}

.tabPanel label {
    margin-right: 15px;
    font-size: 24px;
}

.tabPanel select {
    width: 200px;

    padding: 8px;

    font-family: "Crimson Text", serif;
    font-size: 20px;
    color: #ffffff;

    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #191919;
    margin-bottom: 10px;
}

.tabPanel input {
    width: 200px;

    padding: 8px;

    font-family: "Crimson Text", serif;
    font-size: 20px;
    color: #ffffff;

    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #191919;
    margin-bottom: 10px;
}

.tabPanel button {
    width: 150px;

    padding: 8px;

    margin-top: 15px;

    font-family: "Crimson Text", serif;
    font-size: 20px;
    color: #ffffff;

    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #191919;
    margin-bottom: 10px;
}

.tabPanel button:hover {
    cursor: pointer;

    color: #d6d6d6;
    background-color: #11021f;
}

.abilityContainer {
    max-width: 100%;
}

.abilityGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.abilityCard {
    width: calc(50% - 30px);
    /* Adjust width for two columns with margin */
    padding: 10px;
    margin-bottom: 20px;
    background-color: #191919;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.abilityCard h4 {
    margin-top: 0;
}

.abilityControls {
    display: flex;
    align-items: center;
}

.plusButton,
.minusButton {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #000000;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.plusButton:hover,
.minusButton:hover {
    background-color: #ccc;
}

.plusButton:focus,
.minusButton:focus {
    outline: none;
}