/* MainGame.module.css */

.mainGameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.centeredContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
}

.textBox {
    flex: 1;
    margin-right: 20px;
}

.buttonGroup {
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.buttonGroup button {
    margin-bottom: 10px;
}

.TradeMenu {
    width: 600px;
    height: 600px;

    position: absolute;

    background-color: #11021f;
    border: 2px solid #ccc;
    border-radius: 5px;

    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.TradeExit {
    width: 300px;
    font-size: 20px;
}